// Modular Scale

$ratio: 1.618;
$base-size: 14px 44px;

$total-columns: 3;
$column-width: 1em*1.618*1.618*1.618*1.618;
$gutter-width: 1em;
$grid-padding: $gutter-width;

#page {
    @include container;
    @include susy-grid-background;
    @include set-container-width;

    #header { @include span-columns(3,3); }
    #main { @include span-columns(3 omega, 3); }
    #footer { @include span-columns(3, 3); }

    @include at-breakpoint(480px 5) {
        @include set-container-width;
        @include susy-grid-background;

        #header { @include span-columns(5,5); }
        #main { @include span-columns(5 omega, 5); }
        #footer { @include span-columns(5, 5); }
    }

    @include at-breakpoint(600px 5) {
        @include set-container-width;
        @include susy-grid-background;

        #header { @include span-columns(5,5); }
        #main { @include span-columns(5 omega, 5); }
        #footer { @include span-columns(5, 5); }
    }

    @include at-breakpoint(768px 7) {
        @include set-container-width;
        @include susy-grid-background;

        #header { @include span-columns(7,7); }
        #main { @include span-columns(7 omega, 7); }
        #footer { @include span-columns(7, 7); }
    }

    @include at-breakpoint(992px 9) {
        @include set-container-width;
        @include susy-grid-background;

        #header { @include span-columns(9,9); }
        #main { @include span-columns(9 omega, 9); }
        #footer { @include span-columns(9, 9); }
    }

    @include at-breakpoint(1382px 11) {
        @include set-container-width;
        @include susy-grid-background;

        #header { @include span-columns(11,11); }
        #main { @include span-columns(11 omega, 11); }
        #footer { @include span-columns(11, 11); }
    }

}